.header{
  background:#aaa;
}
.header-inner{
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  &::-webkit-scrollbar{
    display: none;
    @include sp{
      display: block;
    }
  }
  .logo{
    width: 100%;
    font-size: 2.5em;
    font-weight: 500;
    color: #fff;
  }
  @include sp{
    width: 100%;
  }
}
.g-nav{
  margin: auto 0;
  position: sticky;
  top:0;
  z-index: 2;
  background: #111;
  color: #fff;
  .inner{
    background: darkslategray;
    .nav-list{
      display: flex;
      overflow-x: auto;
      .nav-content{
        padding: 15px;
        word-break: keep-all;
        list-style: none;
        &:hover{
          background: rgba(70,130,180,1);
        }
        a{
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}