.alert{
  padding: 10px;
  width: 100%;
  font-size: inherit;
}
.infobox{
  background: rgba(236, 100, 75, .3);
  p{
    color: rgba(192, 57, 43, 1);
  }
}
.info{
  background: rgba(129, 207, 224, 1);
  p{
    color: rgba(36, 37, 42, 1);
  }
}