*{
	box-sizing: border-box;
}
.flex{
	display: flex;
	flex-wrap: wrap;
}
.share_btn{
	width: 25%;
	border: 1px solid #111;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	font-size: 22px;
	font-weight: bold;
	color: #111;
	transition: .4s;
	[class*="icon-"] {
		line-height:50px;
	}
	&:hover{
		-webkit-transform: translateY(-5px);
		-ms-transform: translateY(-5px);
		transform: translateY(-5px);
		border: 0;
		color: #fff;
  }
	&.tw:hover {background: #22b8ff;}
	&.fb:hover {background: #6680d8;}
	&.ht:hover {background: #49a8fb;}
	&.gh:hover {background: #24292e;}
}